<lib name="jquery" />
<style>
.ext-status-clean{
	color: #00CC00;
}
.ext-status-modified{
	color: #CC0000;
}
</style>

<script>
function pullGit(repos,reposPath)
{
	jquery('#btn-pull-'+repos).attr('disabled','disabled') ;
	jquery('#action-output-'+repos).html('正在执行 git pull 操作……') ;

	jquery.ajax( '?c=org.opencomb.development.repos.ReposAction&rspn=msgqueue&act=pull',{
		data: {
			path: reposPath
		}
		, complete: function(jqXHR, textStatus){
			if(textStatus=='success')
			{
				jquery('#action-output-'+repos).html(jqXHR.responseText) ;
			}
			else
			{
				jquery('#action-output-'+repos).html('操作遇到网络错误。') ;
			}
		}
	} ) ; 
}
</script>

<ul>
<foreach for="$arrAllReposStatus" item='arrReposStatus' key='sReposName'>
	<li>
		<div>
			[{=$arrReposStatus['type']}] {=$arrReposStatus['title']}: 
			<span class="ext-status-{=$arrReposStatus['status']}">{=$arrReposStatus['status']}</span>
			
			<if "!empty($arrReposStatus['detail'])">
				<a href="javascript:jquery('#detail-pre-{=$sReposName}').toggle()">详情</a>
			</if>
		</div>
		
		<if "!empty($arrReposStatus['unpush'])">
		<table style='width:350px'>
			<tr>
				<td width='110'>尚未推送的提交：</td>
				<td>
					<foreach for="$arrReposStatus['unpush']" item='nCommits' key='sBranch'>
					<div>{=$sBranch}: <span style="color:#CC0000">{=$nCommits}</span></div>
					</foreach>
				</td>
			</tr>
		</table>
		</if>
		
		<div style="color:#aaaaaa">
			安装路径：{=$arrReposStatus['folder']->url(false)}
		</div>
		
		<div id="action-output-{=$sReposName}"></div>
		
		<if "!empty($arrReposStatus['detail'])">
		<div>
			<pre id="detail-pre-{=$sReposName}" style="display:none">
{=$arrReposStatus['detail']}
			</pre>
		</div>
		</if>
		
		<hr />
	</li>
</foreach>
</ul>